<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Новости</title>
    <style>
        
        /* разберись с ксс */
    </style>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- блок шапки -->
    <%- include ('block/header'); -%>
    
    <div class="block">
        <h1>Новоысти с ИД - <%= newsId %></h1>
        <div class="test">
        <p>
            <b>
                Title:
            </b>
            <%= obj.title %> 
        </p>
        <p><b>ID:</b><%= obj.id %></p>
        <p>
            по новости с этим ИД - <%= newsId %>, нихуя нового
        </p>
        <ul class="test">
            <% obj.paragraphs.forEach(function (item) { %> 
                <li><%= item %> </li>
            <%  });%>  
        </ul>
        </div>
    </div>
</body>
</html>